/* Mulish google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Mulish", sans-serif;
    max-width: 90rem;
    margin: 0 auto;
    /* border: 1px solid gray; */
}

.container {
    max-width: 73.125rem;
    margin: 0 auto;
    /* border: 1px solid gray; */
}

.display-flex {
    display: flex;
}

section {
    margin-top: 6.25rem;
}

.primary-color {
    color: rgb(255, 84, 0);
}

.primary-bg {
    background-color: rgb(255, 84, 0);
}

.btn-primary {
    border-radius: 8px;
    background: rgb(255, 84, 0);
    color: rgb(255, 255, 255);
    padding: .87rem 2.12rem;
}


.normal-text {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.62rem;
}

.gray-1 {
    color: rgba(19, 19, 24, 0.7);
}

.gray-2 {
    color: rgba(19, 19, 24, 0.5);
}
.gray-3 {
    color: rgb(90, 90, 93);
}

h3 {
    color: rgb(19, 19, 24);
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 3.12rem;
}

.txt-center {
    text-align: center;
}

/* End Common Styles */

/* header style */
.header {
    margin-top: 4rem;
}

/* nav style */
.nav {
    justify-content: space-between;
    align-items: center;
}

.logo-title {
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    margin-left: 1.5rem;
}

.nav-link ul li {
    list-style-type: none;
    margin-left: 2.75rem;
}

.nav-link ul li a {
    text-decoration: none;
    color: rgb(66, 66, 71);
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
}

.nav-link ul li a:hover {
    color: rgb(255, 84, 0);
}

/* banner style */
.banner {
    background-image: url('../Images/banner.png');
    background-size: cover;
    background-position: center;
    margin-top: 3rem;
    padding: 6.62rem 0;
    text-align: center;
}

.banner-container {
    max-width: 50rem;
    margin: 0 auto;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
}

.banner-text-part p {
    width: 42.25rem;
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.banner-form-part {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
}

input,
select {
    width: 10.87rem;
    height: 3.25rem;
    padding-left: 1rem;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin-right: 1.5rem;
}

/* Popular tour section styles */
.popular-tour-section {
    gap: 3.31rem;
}

.popular-tour-section-text-part p,
li {
    margin-top: 1.5rem;
}

.popular-tour-section-text-part button {
    margin-top: 2rem;
}

/* Your Destination Styles */
.your-destination-section {}

.your-destination-section p {
    max-width: 40rem;
}

.your-destination-section img {
    width: 100%;
    height: 18.75rem;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 3rem;
}

.row2 {
    display: grid;
    grid-template-columns: 33.33fr 42.24fr 24.42fr;
    gap: 1.5rem;
    margin-top: 3rem;
}

.row3 {
    display: grid;
    grid-template-columns: 41.27fr 58.72fr;
    gap: 1.5rem;
    margin-top: 3rem;
}

.country-card {
    position: relative;
}

.country-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.destination-txt {
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    font-weight: 800;
    line-height: 2.18rem;
}

/* Footer Styles */
.footer {
    background: rgba(19, 19, 24, 0.05);
}

h4 {
    color: rgb(19, 19, 24);
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
}